<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <table>
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>密码</td>
        <td>VIP到期时间</td>
        <td>注册时间</td>
    </tr>

        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.vipDate}"></td>
            <td th:text="${user.signupDate}"></td>
        </tr>
    </table>
</body>
</html>