<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidcools.cn.mapper.UserMapper">
    <resultMap id="map1" type="com.kidcools.cn.Entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="vipDate" column="vip_date"/>
        <result property="signupDate" column="signup_date"/>
        <collection property="tujis" ofType="com.kidcools.cn.Entity.Tuji">
            <id property="id" column="tid"/>
            <result property="name" column="tname"/>
            <result property="jigou" column="jigou"/>
            <result property="pics" column="pics"/>
            <result property="userId" column="user_id"/>
            <result property="uploadTime" column="upload_time"/>
            <association property="user" javaType="com.kidcools.cn.Entity.User">
                 <id property="id" column="id"/>
                <result property="username" column="username"/>
            </association>
        </collection>
    </resultMap>
    <select id="selectUsers" resultMap="map1">
        select user.id,user.username,user.password,user.vip_date,user.signup_date,tuji.id as tid,tuji.name as tname,tuji.jigou,tuji.pics,tuji.upload_time,tuji.user_id from user join tuji on user.id=tuji.user_id where user.id=9;
    </select>

    <resultMap id="map2" type="list">


    </resultMap>
    <select id="selectUsers2" resultMap="map2">
        select user.id,user.username,user.password,user.vip_date,user.signup_date,tuji.id as tid,tuji.name as tname,tuji.jigou,tuji.pics,tuji.upload_time,tuji.user_id from user join tuji on user.id=tuji.user_id where user.id=9;
    </select>
</mapper>